# Ejercicio 1
Ejercicio 1 de evaluación de expresiones en Python

$ \frac {\pi ^ 2} {6} = \sum_{n=1}^{\infty} \frac{1}{n ^ 2}$

In [30]:
import math
res = math.pi**2 / 6
res2 = 0
for n in range (1,500):
    res2+=1 / (n**2)

print(f"valor teórico: {res}, Aproximacion: {res2}")
error = abs(res - res2)
print (f"Error: {error}")

valor teórico: 1.6449340668482264, Aproximacion: 1.642932065514894
Error: 0.0020020013333323927

### Expreción 1

In [1]:
resultado = 3 + 4 * 2 ** 2
print(resultado)

19

### Expr 1
-En la expresion expr1 = (3+2) * 4

-Primero se realiza los parentesis (3 + 2) que da como resultado 5

-despues ese resultado se multiplica por 4

-lo que nos da como resultado 20

In [2]:
resultado = (3+2) * 4
print(resultado)

20

### Expr 2

En la expresion 2 * 3 ** 2

primero se realiza el cuadrado de 3 ** 2

 que nos da como resultado 9

 despues con ese resultado se multiplica 2 * 9
 
 que nos da como resultado 18

In [3]:
resultado = 2 * 3 ** 2
print (resultado)

18

### Expr 3
En la expresion 10 // 3 + 2 

primerpo se realiza la division entera que seria 10 // 3 

que nos da como resultado 3.333

lo que nos redonde a 3

despues el resultado '3' se suma 3 + 2

el resultado nos da 5

In [4]:
resultado = 10 // 3 + 2
print(resultado)

5

### Expr 4

En la expresion 17 % 5 * 2

primero se realiza el modulo que hace en primera posisicon una division de 17 / 5

que nos da como resultado 3.4 

el modulo nomas utiliza el entero que seria 3

despues el resultado de la division se multiplica 3 * 5 

a lo que nos da como resultado 15

esto se resta por el primer valor dividido que seria 17 - 15

a lo que nos da como resultado 2

ese resultado lo multiplicamos 2 * 2

que nos da como resultado 4

In [6]:
resultado = 17 % 5 * 2
print(resultado)

4

### Expr 5
En la expresion -2 ** 2
primero realizamos la potencia a lo que nomas afecta el 2 (2**2)

el negativo aqui lo dejamos en un lado por la prioridad de los signos 

esto nos da como resultado 4 y le agregamos el - por que no tenemos nada mas que afecte al negativo, entonces el resultado final seria -4

In [ ]:
resultado = -2 ** 2
print(resultado)

4

### Expr 6 
En la expresion 3 + 4 * 2 ** 2 // 3
Primero realizamos la potencia que seria 2 ** 2

nos da como resultado 4 

despues multiplicamos ese resultado que seria 4 * 4

nos da como resultado 16

este resultado lo dividimos 16 // 3

esto nos da como resultado 5.3

este resultado lo redondea a 5 por que nomas usa numeros enteros esta division //

esto lo sumamos a 3 + 5

lo que nos da como resultado 8

In [13]:
resultado = 3 + 4 * 2 ** 2 // 3
print (resultado)

8

### Expr 7
En la expresion 3 < 4 < 5
primero analizamos la condicion que si 3 < 4 

esto nos da como resultado que si es verdad 

despues checamos la de 4 < 5 

y esto nos da como resultado que si es verdad 

entonces el resultado final es verdad (True)

In [ ]:
resultado =3 < 4 < 5
print(resultado)

True

### Expr 8
En la expresion (3 > 2) and (5 < 10) or False
primero analizamos la condicion que si (3 > 2)

esto nos da como resultado que si es verdad 

despues checamos la de (5 < 10)

esto nos da como resultado que si es verdad 

despues checamos la de or False

esto nos da como resultado que siempre va ser True 

entonces el resultado final siempre va ser verdad (True)

In [16]:
resultado= (3 > 2) and (5 < 10) or False
print(resultado)

True

### Expr 9
En la expresion 5 & 3 + 1
Primero realizamos la suma de 3 + 1

esto nos da como resultado 4 

nos queda 5 & 4 

estos numeros se convierten en numero vinarios y se hace bit a bit con AND

seria 0101 & 0100 esto tomando el AND nos da 0100

ya solo queda convertiurlo a decimal que seria 4

In [17]:
resultado = 5 & 3 + 1
print (resultado)

4

### Expr 10
En la expresion  (2 + 3) * 4 ** 2 // (5 % 3) and not False

primero realizamos los parentesis (2 + 3) lo que nos da 5 que es un numero verdadero

despues realizamos el otro (5 % 3)

primero realizamos la division de 5 / 3 que da 1.6666 y se toma nomas 1 

despues multiplicamos el 3 * 1 lo que nos da 3 

despues restamos 5 - 3 lo que nos da 2 

despues tenemos la potencia que seria 4 ** 2 lo que da de resultado 16

despues resolvemos todo seria (5) * 16 // 2 and not false 

lo que nos da como resultado 40 y true 

entonces el resultado fina es TRUE

In [18]:
resultado= (2 + 3) * 4 ** 2 // (5 % 3) and not False
print (resultado)

True

### Expr 11

Expresión: expr11 = ((65 & 66) > 70) and not (65 ^ 66) == 0 

1. Operadores que intervienen: - & → AND bit a bit - ^ → XOR bit a bit - > → comparación mayor que - == → comparación de igualdad - not → negación lógica - and → operador lógico AND 

2. Resolver (65 & 66): 65 = 1000001 (binario) 66 = 1000010 (binario) 1000001 & 1000010 = 1000000 (64 en decimal) 

3. Resolver (65 ^ 66): 65 = 1000001 66 = 1000010 1000001 ^ 1000010 = 0000011 (3 en decimal) 

4. Sustituir en la expresión: ((65 & 66) > 70) and not (65 ^ 66) == 0 → (64 > 70) and not (3 == 0) 

5. Resolver comparaciones: 64 > 70 → False 3 == 0 → False → False and not False 

6. Resolver not: not False → True → False and True 

7. Evaluar and: False and True → False Resultado final: expr11 = False

In [19]:
resultado = ((65 & 66) > 70 ) and not (65 ^ 66) == 0
print (resultado)

False